*
{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}
*::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
*::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgb(84, 84, 84);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 51, 51); 
}
*:focus
{
    outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
